
.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
} 

.nav-bar .logo img{
    width: 180px;
    cursor: pointer;
    margin-top: -10px;
}

.nav-bar .item{
    display: flex;
    margin-top: -10px;
}

.nav-bar form{
    padding: 0 30px;
    margin-top: -5px;
    position: relative;
}

.nav-bar form input{
    width: 250px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid var(--p-color);
    padding: 5px 5px 5px 20px;
    background-color: var(--fir-color);
}

.nav-bar form input::placeholder{
    font-size: 15px;
    opacity: 0.3;
}

.nav-bar form input:focus{
    outline: none;
    border: 1px solid var(--main-color);
}

.nav-bar form .icon{
    font-size: 20px;
    opacity: 0.3;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 13%;
}

.nav-bar .text{
    display: flex;
}

.nav-bar .text nav .ul{
    display: flex;
}  

.nav-bar .text nav ul li a{
    display: block;
    text-decoration: none;
    padding-right: 20px;
    font-size: 17px;
    letter-spacing: 1.2px;
    font-weight: 500;
    z-index: 99;
    color: var(--bla-color);
    transition: .5s linear;
}

.nav-bar .text nav ul li a:hover,
.nav-bar .text nav ul li a:focus{
    color: var(--main-color);
}

.nav-bar .text .toggle{
    color: var(--whi-color);
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
    display: none;
} 

@media screen and (max-width: 992px){
    .nav-bar .container{
        padding-top: 10px;
    } 

    .nav-bar form{
        display: none;
    }

    .nav-bar .text nav ul li a{
        display: none;
    }

    .nav-bar .text .toggle{
        display: block;
        font-size: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hideMenu{
        background-color: var(--fir-color);
        display: block;
        text-align: center;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 30%;
        z-index: 99;
    }

    .nav-bar .text .hideMenu nav .ul{
        display: flex;
        flex-direction: column;
    }

    .nav-bar .text .hideMenu nav .ul li a{
        display: block;
        padding: 12px;
    }

    .nav-bar .logo img{
        width: 170px;
        margin-top: 10px;
    }

}
