
.banner-category{
    padding-top: var(--all-padding);
}

.banner-category .container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}

.banner-category .box1{
    display: flex;
    background-color: var(--fir-color);
    border-radius: 10px;
    border: 2px solid var(--fir-color);
    padding: 30px;
    width: 50vw;
    height: 90%;
    cursor: pointer;
    transition: .5s linear;
}

.banner-category .box1:hover{
    border: 2px solid var(--main-color);
    transition: .5s linear;
}

.banner-category .box1 img{
    width: 65%;
    height: 70%;
}

.banner-category span{
    color: var(--main-color);
    font-weight: 700;
}

.banner-category h1{
    color: var(--bac-color);
    font-size: 30px;
    font-weight: 550;
    width: 100%;
    padding: 10px 0;
}

.banner-category .box1 h2{
    color: var(--main-color);
    font-weight: 550;
    padding-bottom: var(--all-padding);
}

.banner-category .box1 button{
    color: var(--whi-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 10px;
    border-radius: 10px;
    font-weight: 550;
    width: 40%;
    transition: .5s linear;
}

.banner-category .box1 button:hover{
    background-color: transparent;
    color: var(--main-color);
}

.banner-category .box2{
    background-color: var(--fir-color);
    padding: 30px;
    border-radius: 10px;
    border: 2px solid var(--fir-color);
    transition: .5s linear;
    overflow: hidden;
    cursor: pointer;
    height: 90%;
}

.banner-category .box2:hover{
    border: 2px solid var(--main-color);
}

.banner-category .box2 h1{
    width: 100%;
}

.banner-category .box2 img{
    width: 90%;
    height: 70%;
}

.banner-category .box2 button{
    background-color: transparent;
    border: none;
    color: var(--main-color);
    font-weight: 550;
    text-decoration: underline;
}

.banner-category .box3{
    background-color: var(--fir-color);
    padding: 30px;
    width: 30vw;
    height: 90%;
    border-radius: 10px;
    border: 2px solid var(--fir-color);
    transition: .5s linear;
    cursor: pointer;
}

.banner-category .box3 img{
    width: 100%;
    height: 50%;
}

.banner-category .box3:hover{
    border: 2px solid var(--main-color);
}

.banner-category .box3 h1{
    width: 100%;
}

.banner-category .box3 button{
    background-color: transparent;
    border: none;
    color: var(--main-color);
    font-weight: 550;
    text-decoration: underline;
}

.banner-category .box4{
    background-color: var(--main-color);
    padding: 30px;
    display: flex;
    height: 90%;
    margin-left: -270px;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    transition: .5s linear;
    cursor: pointer;
}

.banner-category .box4:hover{
    border: 2px solid var(--whi-color);
}

.banner-category .box4 h1{
    color: var(--whi-color);
    width: 90%;
}

.banner-category .box4 span{
    color: var(--whi-color);
}

.banner-category .box4 h2{
    color: var(--whi-color);
    font-weight: 550;
    padding-bottom: var(--all-padding);
}

.banner-category .box4 img{
    width: 75%;
    height: 65%;
}

.banner-category .box4 button{
    color: var(--whi-color);
    background-color: var(--main-color);
    border: 2px solid var(--whi-color);
    padding: 10px;
    border-radius: 10px;
    font-weight: 550;
    width: 40%;
    transition: .5s linear;
}

.banner-category .box4 button:hover{
    background-color: var(--whi-color);
    color: var(--main-color);
}

@media screen and (max-width: 992px){
    .banner-category .container{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
    }

    .banner-category .box1{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .banner-category .box1 img{
        width: 100%;
        height: 100%;
    }

    .banner-category .box2{
        height: 100%;
    }

    .banner-category .box2 img{
        width: 90%;
        height: 79%;
    }

    .banner-category .box3{
        width: 100%;
        height: 100%;
    }

    .banner-category .box3 img{
        width: 100%;
        height: 60%;
    }

    .banner-category .box4{
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .banner-category .box4 img{
        width: 100%;
        height: 100%;
    }

    .banner-category .box1 button,
    .banner-category .box4 button{
        width: 40%;
    }
}